<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="static/css/my_pretty_form.css">
    <title>Welcome to Electrocuted Snail</title>
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-3.4.1.min.js">
    </script>
    <script type = "text/javascript">
      $(function() {
	  console.log( "ready!" );
	  mdc.autoInit();
      });
    </script>
  </head>
  <body>
    <h2 class="mdc-typography--headline5">Welcome to Electrocuted Snail</h2>
    <p class="mdc-typography--subheading2">Convert all your snail mail into emails!</p>
    <div class="button-container">
      <button onclick="location.href='{{url_for('google.login')}}';" class="mdc-button mdc-button--raised foo-button">
	<div class="mdc-button__ripple"></div>
	<span class="mdc-button__label">Start with a Google Login now!</span>
      </button>
    </div>
  </body>
</html>
