<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="static/css/my_pretty_form.css">
    <title>A nice apple and YOU</title>
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-3.4.1.min.js">
    </script>
    <script type = "text/javascript">
      $(function() {
	  console.log( "ready!" );
	  mdc.autoInit();
	  $('.fakefn').click(function() {
	      $('input[type=file]').trigger('click');
	  });

	  $('input[type=file]').change(function() {
	      $('.fakefn').val($(this).val());
	  });
      });
    </script>
  </head>
  <body>
    <h2 class="mdc-typography--headline5">Let's send an email to you!</h2>
    <form id="ingredient_form" class="validated_form" method="post" enctype="multipart/form-data">
      <div class="mdc-text-field full-name" data-mdc-auto-init="MDCTextField">
	{{ form.name(class="mdc-text-field__input") }}
	<label for="{{form.name.id}}" class="mdc-floating-label">Full Name</label>
	<div class="mdc-line-ripple"></div>
      </div>
      <div class="mdc-text-field filename" data-mdc-auto-init="MDCTextField">
	<input type="text" class="fakefn mdc-text-field__input" id="filename" readonly>
	<label for="filename" class="mdc-floating-label">Attach file</label>
	<div class="mdc-line-ripple"></div>
      </div>
      <div class="button-container">
	<button type="submit" class="mdc-button mdc-button--raised foo-button">
	  <div class="mdc-button__ripple"></div>
	  <span class="mdc-button__label">Go!</span>
	</button>
      </div>
      <div class="file-input-container">
	{{ form.img() }}
      </div>
    </form>
  </body>
</html>
