{% macro field_label(field, label=''): %}

    {% set text = label or field.label.text %}
    {% if field.flags.required %}
            {{ field.label(text=text + " *", class="klavikab") }}
    {% else %}
            {{ field.label(text=text + " ", class="klavikab") }}
    {% endif %}

{% endmacro %}

{% macro field_field(field) %}
    {{ field(**kwargs) }}
    {% if field.errors %}
        {% for error in field.errors %}<label for="{{ field.id }}" class="error help-inline">{{ error }}</label>{% endfor %}
    {% endif %}
{% endmacro %}

<!-- Renders a form field with errors, required flags, and common styling.
	html element fields such as class, style, or type can be passed as kwargs.
	Usage: macros.field(form.username, class="input-xlarge", type="email") -->
{% macro field(field, label='') -%}
    <div class="{% if field.errors %} danger{% endif %} formsection">
        {% if caller: %}
            {{ caller() }}
        {% else: %}
            {{ field_label(field, label) }}
            <div class="">{{ field_field(field, **kwargs) }}</div>
        {% endif %}
    </div>
{%- endmacro %}


<html>
  <body>
  <b>{{blu}}</b>
  <form id="ingredient_form" class="validated_form" method="post" enctype="multipart/form-data">
     {{ field(form.name, class="required") }}
     {{ field(form.img, class="required") }}
     <input type="submit" value="Hajra">
  </form>
  </body>
  
</html>
