{% macro field_label(field, label=''): %}

    {% set text = label or field.label.text %}
    {% if field.flags.required %}
            {{ field.label(text=text + " *", class="klavikab") }}
    {% else %}
            {{ field.label(text=text + " ", class="klavikab") }}
    {% endif %}

{% endmacro %}

{% macro field_field(field) %}
    {{ field(**kwargs) }}
    {% if field.errors %}
        {% for error in field.errors %}<label for="{{ field.id }}" class="error help-inline">{{ error }}</label>{% endfor %}
    {% endif %}
{% endmacro %}

<!-- Renders a form field with errors, required flags, and common styling.
	html element fields such as class, style, or type can be passed as kwargs.
	Usage: macros.field(form.username, class="input-xlarge", type="email") -->
{% macro field(field, label='') -%}
    <div class="{% if field.errors %} danger{% endif %} formsection">
        {% if caller: %}
            {{ caller() }}
        {% else: %}
            {{ field_label(field, label) }}
            <div class="">{{ field_field(field, **kwargs) }}</div>
        {% endif %}
    </div>
{%- endmacro %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="static/css/my_pretty_form.css">
    <title>A nice apple and YOU</title>
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-3.4.1.min.js">
    </script>
    <script type = "text/javascript">
      $(function() {
	  console.log( "ready!" );
	  mdc.autoInit();
	  $('.fakefn').click(function() {
	      $('input[type=file]').trigger('click');
	  });

	  $('input[type=file]').change(function() {
	      $('.fakefn').val($(this).val());
	  });
	  //mdc.ripple.MDCRipple.attachTo(document.querySelector('.foo-button'));
	  //const checkbox = new mdc.checkbox.MDCCheckbox(document.querySelector('.mdc-checkbox'));
	  //const formField = new mdc.formField.MDCFormField(document.querySelector('.mdc-form-field'));
	  //formField.input = checkbox;
      });
    </script>
  </head>
  <body>
    <h2 class="mdc-typography--headline5">Let's send an email to you! {{blu}}</h2>
    <form id="ingredient_form" class="validated_form" method="post" enctype="multipart/form-data">
      <div class="mdc-text-field full-name" data-mdc-auto-init="MDCTextField">
	{{ form.name(class="mdc-text-field__input") }}
	<label for="{{form.name.id}}" class="mdc-floating-label">Full Name</label>
	<div class="mdc-line-ripple"></div>
      </div>
      <div class="mdc-text-field filename" data-mdc-auto-init="MDCTextField">
	<input type="text" class="fakefn mdc-text-field__input" id="filename" readonly>
	<label for="filename" class="mdc-floating-label">Attach file</label>
	<div class="mdc-line-ripple"></div>
      </div>
      <div class="button-container">
	<button type="submit" class="mdc-button mdc-button--raised foo-button">
	  <div class="mdc-button__ripple"></div>
	  <span class="mdc-button__label">Go!</span>
	</button>
      </div>
      <div class="file-input-container">
	{{ form.img() }}
      </div>
    </form>
  </body>
</html>
