.margin-background {
    width: 100%;
    height: 100%;
    /*background: RGBA(30, 30, 60, 1);*/
}

.main {
    min-width: 320px;
    max-width: 600px;
    height: 100%;
    margin: auto;
    background: white;
    overflow-y: auto;
}

h2 {
    text-align: center;
    margin: 0 0;
    padding: 15px 0;
}
h3 {
    text-align: center;
    margin: 0 0;
    padding: 15px 0;
}

.electrocute-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}    

.notes-field {
    width: 100%;
}

.harddiv {
    display: flex;
    flex-flow: column nowrap;
}

.harddiv mat-slide-toggle,mat-form-field,p {
    padding: 10px 0px;
}

.progress-overlay {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.success-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}

.success-page p {
    padding: 0 10px;
}

.centered-button-pane {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.non-logged-in-sub {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 400px;
}

.non-logged-in-sub p {
    padding: 0 10px;
}

.tag-pane-header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -16px;
}    

.tag-pane-header .mat-step-text-label {
    padding-bottom: 10px;
}

.tune-pane {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.tune-pane div {
    margin-top: -6px;
}

.tag-pane-header button[hidden]{
    visibility: hidden;
}

.docs {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
}
