app-file-uploader {
  display: block;
  width: 300px;
  margin: 2px auto;
}

h2 {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

.notes-field {
    width: 300px;
}

.harddiv {
    display: flex;
    flex-flow: column nowrap;
}

.harddiv mat-slide-toggle,mat-form-field,p {
    padding: 10px 0px;
}

.progress-overlay {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.success-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
