<style>
</style>

<div class='margin-background mat-app-background'>
<div class='main non-logged-in' *ngIf="!loggedIn">
  <h2>Welcome to Electrocuted Snail</h2>
  <p>Convert all your snail mail and other paper documents into emails!</p>
  <div class="centered-button-pane">
    <a mat-raised-button color="primary" href="/auth/google">
      Start with a Google Login now!
    </a>
  </div>
  <p>Not sure what I'm talking about?</p>
  <div class="centered-button-pane">
    <button mat-raised-button type="button" color="primary" (click)="openDocs()">
      Then read the Docs.
    </button>
  </div>
  <div class="centered-button-pane">
    <div class="mat-caption">I promise it's short...</div>
  </div>
</div>
<div class='main' *ngIf="loggedIn">
<div *ngIf='successPage' class='success-page'>
  <h2>Electrocution successful!</h2>
  <button type="button" mat-raised-button color="primary" (click)='newElectrocution()'>Electrocute another one!</button>
  <div class="mat-caption">Or just close this tab if you are done.</div>
</div>
<div *ngIf='electrocutionInProgress' class='progress-overlay'>
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf='!successPage'>
  <h2>Electrocute a new document</h2>
  <form #f (ngSubmit)="sendRequest(f)">
    <input type="hidden" name="docId" [value]='docId'>
    <mat-vertical-stepper linear='true'>
      <mat-step optional [completed]='ids.length > 1' label='Scan/photo your document'>
	<app-file-uploader *ngFor="let id of ids" [id]="id" (selected)='fileSelected()' (remove)='removeId(id)' (file)='gotFile(id, $event)'></app-file-uploader>
      </mat-step>
      <mat-step label="Add tags" [optional]="!tagPaneEditing" [completed]="false">
	<app-tag-pane (editChange)='tagPaneEditChange($event)'></app-tag-pane>
      </mat-step>
      <mat-step label='Add notes' optional>
	<mat-form-field class='notes-field'>
	  <textarea matInput type="text" name="notes" placeholder="Add notes you want to include in the email" cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="500"></textarea>
	</mat-form-field>
      </mat-step>
      <mat-step label='Hard copy storage' [optional]='!storeHardCopy' [completed]="folderLabel != ''">
	<input type="hidden" name="folder" [value]='folderLabel'>
	<div class='harddiv'>
	  <mat-slide-toggle name='hardcopy' [(ngModel)]='storeHardCopy'>
	    Store hard copy
	  </mat-slide-toggle>
	  <div *ngIf='!storeHardCopy' class="mat-caption">
	    If you don't need to keep the hard copy then just drop the electrocuted document into the paper bin <b>once the email has arrived.</b> If you do need the hard copy then turn on <b>Store hard copy</b> with the above switch!
	  </div>
	  <mat-form-field *ngIf='storeHardCopy'>
	    <mat-label>I need to keep this hard copy for</mat-label>
	    <mat-select [(value)]="expiry">
	      <mat-option value="1">1 year</mat-option>
	      <mat-option value="2">2 years</mat-option>
	      <mat-option value="3">3 years</mat-option>
	      <mat-option value="5">5 years</mat-option>
	      <mat-option value="10">10 years</mat-option>
	      <mat-option value="-1">ethernity</mat-option>
	    </mat-select>
	  </mat-form-field>
	  <div *ngIf='folderLabel'>
	    <p>Please label your hard copy with &quot;<b>{{docId}}</b>&quot; and put it in the folder labeled &quot;<b>{{folderLabel}}</b>&quot;!</p>
	    <button type="button" mat-raised-button color="accent" (click)='folderFull()'>Or, click here if that folder is full!</button>
	  </div>
	  <div *ngIf='needFolderFor'>
	    <p *ngIf='firstFolder'>There is no physical folder for this expiry yet, please create one!</p>
	    <p *ngIf='!firstFolder'>So your previous folder is full. Please create a new one!</p>
	    <p>Please label your new folder with &quot;<b>{{nextLabel}}</b>&quot;</p>
	    <p *ngIf="needFolderFor != 'ethernity'">On the first day of year {{needFolderFor}}, you can ceremonically toss all documents in this new folder into the garbage. <br><span class='mat-caption'>(Or shred them. Or burn them. Totally up to you!)</span></p>
	    <button type="button" *ngIf="!firstFolder" mat-raised-button (click)='cancelNewFolder()'>Cancel</button>
	    <button type="button" mat-raised-button color="accent" (click)='createFolder(needFolderFor, nextOrdinal)'>I'm done</button>
	  </div>
	</div>
      </mat-step>
      <mat-step label='Electrocute!'>
	<button type="submit" mat-raised-button color="primary">Go Electrocute!</button>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>
</div>
</div>
