<style>
</style>

<div class="uploader-item">
  <mat-form-field *ngIf="fileName">
    <input
      matInput
      [placeholder]="'Page/scan #' + id"
      [value]="fileName"
      readonly>
  </mat-form-field>
  <button type="button" mat-button color="accent" *ngIf="!fileName" (click)="fileInput.click()">
    Add {{(id != 0) ? 'another' : ''}} photo/scan</button>
  <button type="button" mat-icon-button *ngIf="fileName" color="accent" (click)="onRemove()" aria-label="Remove page/scan">
    <mat-icon>clear</mat-icon>
  </button>
  <input
    [name]="'file' + id"
    type="file"
    #fileInput
    (change)="handleFileInput($event.target.files)">
</div>
