<div class="full-gallery">
  <button *ngIf="refreshesLeft <= 0"
	  mat-raised-button
	  (click)="restartRefreshing()">
    Look for new pictures... <mat-icon>autorenew</mat-icon>
  </button>
  <div *ngIf="refreshesLeft > 0" class="autoloading">
    <div>New pictures will show up automatically...</div>
    <mat-progress-spinner mode="indeterminate" diameter="20">
    </mat-progress-spinner>
  </div>
  <div *ngIf="pictures.length === 0" class="mat-h2">No drawings found...</div>
  <app-picture-with-authors
    *ngFor="let picture of pictures"
    [display_data]="picture"
    [gallery]="gallery">
  </app-picture-with-authors>
</div>

