.alldetail {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.wait {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
}

.spinner {
    height: 20px;
    width: 20px;
}

.mat-h2 {
    margin: 6px;
}

button {
    margin: 3px;
}
