<div class="alldetail">
  <div class="mat-h2">Waiting for others to continue this drawing... </div>
  <app-picture-list
    *ngIf="id"
    [gallery]="gallery"
    [requestURL]="'/get_continuations?id=' + id">
  </app-picture-list>
  <div>
    Anyone can continue via this url:
  </div>
  <a [routerLink]="routeArrayFor('/draw', id)">
    <b>{{cont_url}}</b>
  </a>
  <button mat-raised-button
	  (click)="link_to_clipboard()">
    Add link to clipboard
  </button>
  <a mat-raised-button target="_blank" href="{{mailto}}">
    Send link via email
  </a>
  <div class="mat-h2">Bored of waiting?</div>
  <a color="accent" mat-raised-button [routerLink]="'/reveal/'+id">
    Reveal the full image
  </a>
  <a *ngIf="gallery" color='primary' mat-raised-button
     [routerLink]="['/gallery', gallery]">
    Return to the gallery
  </a>
  <button mat-raised-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <!-- <div *ngIf="fold_user.email">
    <div class="mat-h2">Feature in galleries:</div>
    <div *ngFor="let gallery of galleries">
      <button *ngIf="gallery.has_picture" mat-stroked-button disabled="true">
	{{gallery.title}}
      </button>
      <button *ngIf="!gallery.has_picture" mat-raised-button
	      (click)="add_to_gallery(gallery.code)">
	{{gallery.title}}
      </button>
    </div>
  </div> -->
</div>
