<div class="alldetail" *ngIf="display_data">
  <app-picture-with-authors [display_data]="display_data">
  </app-picture-with-authors>
  <button color="accent" mat-raised-button [routerLink]="'/draw/'+id">
    Continue
  </button>
  <button color="accent" mat-raised-button [routerLink]="'/reveal/'+id">
    Reveal
  </button>
  <div>Feature in galleries:</div>
  <div *ngFor="let gallery of galleries">
    <button *ngIf="gallery.has_picture" mat-stroked-button disabled="true">
      {{gallery.title}}
    </button>
    <button *ngIf="!gallery.has_picture" mat-raised-button
	    (click)="add_to_gallery(gallery.code)">
      {{gallery.title}}
    </button>
  </div>
</div>
