.fullPage {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;    
}
.fullCanvas {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

canvas {
    touch-action: none;
    background: white;
    flex: 1 1 auto;
    max-width: 100%;
}

canvas.ereaser {
    cursor: url('/ui/assets/filter_tilt_shift-24px.svg') 12 12, auto;
}
canvas.normal {
    cursor: crosshair;
}

.palette div {
    margin: 6px;
}

.fullCanvas img {
    user-select: none;
    background: lightgrey;
    max-width: 100%;
    flex: 1 1 auto;
}

.colorselector {
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 2px;
}

.ereaser {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.buttons button {
    margin: 3px;
}
