<div class="fullPage">
  <div class="palette">
    <div *ngFor="let color of ['black', 'grey', 'purple', 'blue', 'aquamarine', 'green']">
      <button  mat-mini-fab type="button" (click)="setColor(color)">
	<mat-icon [ngStyle]="{'color': color}">create</mat-icon>
      </button>
    </div>
  </div>
  <div class="fullCanvas">
    <img *ngIf="prev_cropped" [src]="prev_cropped" draggable="false">
    <canvas #canvas></canvas>
  </div>
  <div class="palette">
    <div *ngFor="let color of ['gold', 'yellow', 'brown', 'magenta', 'pink', 'red']">
      <button  mat-mini-fab type="button" (click)="setColor(color)">
	<mat-icon [ngStyle]="{'color': color}">create</mat-icon>
      </button>
    </div>
  </div>
</div>
<button mat-raised-button type="button" color="primary" (click)="done()">
Done</button>
