<div class="fullPage">
  <div class="palette">
    <div *ngFor="let color of ['black', 'grey', 'darkblue', 'blue', 'aquamarine', 'green']"
	 class="colorselector"
	 [ngStyle]="{'background': color, 'border-color': ((currentColor === color) ? 'white' : 'transparent')}"
	 (click)="setColor(color)">
    </div>
    <div class="colorselector ereaser"
	 [ngStyle]="{'background': 'grey', 'border-color': ((currentColor === 'ereaser') ? 'white' : 'transparent')}"
	 (click)="setEreaser()">
      <mat-icon>filter_tilt_shift</mat-icon>
    </div>
  </div>
  <div class="fullCanvas">
    <!---Empty 1x1. Thank you safari -->
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
    <img *ngIf="prev_cropped" [src]="prev_cropped">
    <canvas
      #canvas
      [class]="(currentColor === 'ereaser') ? 'ereaser' : 'normal'">
    </canvas>
    <div class="buttons">
      <button mat-raised-button
	      type="button" color="primary" (click)="done(false)">
	Next please!
      </button>
      <button mat-raised-button
	      type="button" color="primary" (click)="done(true)">
	Done. Let's reveal!
      </button>
      <button mat-raised-button
	      type="button" color="accent" (click)="location.back()">
	Cancel
      </button>
    </div>
  </div>
  <div class="palette">
    <div *ngFor="let color of ['gold', 'yellow', 'brown', 'magenta', 'pink', 'purple', 'red']"
	 class="colorselector"
	 [ngStyle]="{'background': color, 'border-color': ((currentColor === color) ? 'white' : 'transparent')}"
	 (click)="setColor(color)">
    </div>
  </div>
</div>
