@import '~@angular/material/theming';

.tag-label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.tag-label mat-icon {
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

mat-button-toggle span {
    margin: auto;
}

mat-button-toggle-group {
    width: 100%;
}

