<div class="tag-select-pane">
  <mat-button-toggle-group *ngIf="tags.length > 0" multiple vertical [(ngModel)] = "selectedValue" color="primary">
    <mat-button-toggle *ngFor="let tag of tags" [value]='tag.tag_id' [aria-label]='tag.description'>
      <div class="tag-label">
	<mat-icon>{{tag.icon}}</mat-icon>
	<span>{{tag.description || tag.tag_id}}</span>
	<div></div>
      </div>
  </mat-button-toggle>
  </mat-button-toggle-group>
  <input type="hidden" name="tags" [value]="selectedValue">
</div>

