@import '~@angular/material/theming';

.tag-label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.tag-label mat-icon {
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

mat-button-toggle span {
    margin: auto;
}

mat-button-toggle-group {
    width: 300px;
}

.icon-label {
    color: rgba(0,0,0,.54);
}

.icon-with-label {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.id-and-icon {
    width: 270px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

mat-form-field {
    width: 230px;
}

.id-and-icon button {
    margin-top: -10px;
}

.desc-field {
    width: 300px;
}

.desc-and-remove-button {
    width: 270px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

mat-divider {
    margin-bottom: 6px;
}

.buttons {
    width: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.edit-pane {
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
}

.edit-pane mat-card {
    margin: 5px 0;
}

.edit-button {
    margin-top: 10px;
    width: 316px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.mat-vertical-content-container .mat-vertical-stepper-content {
    overflow: visible;
}
