.profile {
    width: 40px;
    height: 40px;
}
.author {
    width: 40px;
    height: 40px;
}

.authors {
    display: flex;
    flex-flow: row nowrap;
    margin: 3px;
}

.fullCanvas {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 1 auto;
    max-width: 400px;
    background: white;
    border-color: black;
    margin: 5px;
}

.question {
    color: black;
    font-size: xxx-large;
}
.questions {
    text-align: center;
}

mat-card {
    margin: 6px;
}
mat-card-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

mat-card-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.mat-h2 {
    margin: 3px;
}
