.tag-editor-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.icon-label {
    color: rgba(0,0,0,.54);
}

.icon-with-label {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.id-and-icon {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

mat-form-field {
    flex: 1 0 auto;
    width: 0px;
}

.id-and-icon button {
    margin-top: -10px;
}

.desc-and-remove-button {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.buttons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.edit-pane {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.edit-pane mat-card {
    margin: 5px 0;
}

