.fullPage {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}
.fullCanvas {
    display: flex;
    flex-flow: column nowrap;
    background: white;
}
button {
    margin: 3px;
}
