.fullPage {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}
.fullCanvas {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    background: white;
}

.fullCanvas img {
    user-select: none;
    max-width: 100%;
    flex: 1 1 auto;
}

button {
    margin: 3px;
}
